@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	margin: 0px;
	padding: 0px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #7d91ff, #ecd6ff);
  font-family: 'Montserrat', sans-serif;
}

.form-container {
  width: 480px; /* Adjust the width as needed */
  margin: 50px; /* Center the form horizontally */
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.form-container h3 {
  text-align: center;
  margin-bottom: 30px;
  color: #4f4f4f;
  font-size: 24px;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #4f4f4f;
  font-size: 24px;
}

.form-group {
  margin-bottom: 25px;
}

.form-group label {
  display: block;
  /*width: 140px;*/
  margin-bottom: 10px;
  color: #4f4f4f;
  font-size: 16px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
}

.form-group input[type="submit"] {
  background: #42b883;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
}

.form-group input[type="submit"]:hover {
  background: #34a272;
}

.form-group input[type="submit"]:focus {
  outline: none;
}

.form-group input:focus {
  border-color: #42b883;
}

/* Customized Select Element */
.form-group select {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  appearance: none;
  background-image: url('https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/pencil-512.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px;
  padding-right: 40px;
}

/* Additional Styling */
.form-group input[type="text"],
.form-group input[type="password"],
.form-group select {
  background-color: #f5f5f5;
  border: none;
  border-bottom: 1px solid #ccc;
}

.form-group input[type="text"]::placeholder,
.form-group input[type="password"]::placeholder,
.form-group select option {
  color: #a9a9a9;
}

.form-group input[type="text"]:hover,
.form-group input[type="password"]:hover,
.form-group select:hover {
  background-color: #ebebeb;
}

.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus,
.form-group select:focus {
  background-color: #f9f9f9;
  border-bottom-color: #42b;
}

.login-button {
  background: #42b883;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
}

.login-button:hover {
  background: #34a272;
}

.login-button:focus {
  outline: none;
  border-color: #42b883;
}

/* ovo je za prikaz i izmenu profila*/
.form-group-inline {
  display: flex;
  align-items: center;
}

.form-group-inline label {
  margin-right: 10px;
}

.form-group-inline input,
.form-group-inline select {
  flex: 1;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
}

.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  list-style-type: none;
  background-color: #333;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden; /*nek stoji dok ne skontam sta radi*/
  float: top;
  z-index: 999;
}

.menu-bar li {
  float: right;
}

.menu-bar li a {
  display: block; /*inlice-block*/
  font-family: Lato, sans-serif;
  color: #ecf0f1;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.5s;
  white-space: nowrap;
  padding: 14px 20px 14px 20px;
}

.menu-bar a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #3498db;
  transition: width 0.5s;
}

.menu-bar a:hover {
  color: #95a5a6;
}

.menu-bar a:hover::after {
  width: 100%;
}

.salon-holder1 {
  width: 50vw;
  height: 30vh;
  display: flex;
  flex-direction: wrap;
  align-items: center;
  margin: 24px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.salon-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  text-align: center; 
  margin-top: 20px; 
}

.salon-holder {
	width: 50vw;
	height: 20vh;
  display: flex;
  flex-direction: row;
  margin: 24px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  /*margin-top: 30px;
  margin-bottom: 30px;*/
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  /*display: inline-block;  /*ovo mozes izbaciti*/
}


.salon-image-border {
	display: inline-block;
  	width: 22vw;
}

.salon-image {
  /*height: 10vh;*/
  display: block;
  width: auto;
  height: auto;
  border-radius: 10px;
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.salon-text {
	margin-left: 24px;
	margin-right: 24px;
}

.salon-name {
  font-size: 24px;
  color: #4f4f4f;
  margin-bottom: 36px;
}

.salon-info {
  font-size: 16px;
  color: #4f4f4f;
}

.salon-lokacija {
	margin-bottom: 24px;
}

.adress-info {
  font-size: 16px;
  color: #4f4f4f;
}

.adress-coordinate {
  font-size: 12px;
  color: #5c5c5c;
}

.search-fields {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-fields input[type="text"],
  .search-fields input[type="button"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    margin-right: 10px;
  }
  
  .search-fields input[type="button"] {
    background-color: #42b883;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-fields input[type="button"]:hover {
    background-color: #34a272;
  }
  
/* dizajn za svic */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.cekbox {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.cekbox-label {
	display: inline-block;
	vertical-align: middle;
	width: 220px;
	font-weight: bold;
}

/*check box*/
.custom-checkbox {
  --active: #275EFE;
  --active-inner: #fff;
  --focus: 2px rgba(39, 94, 254, .3);
  --border: #BBC1E1;
  --border-hover: #275EFE;
  --background: #fff;
  --disabled: #F6F8FF;
  --disabled-inner: #E1E6F9;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 21px;
  outline: none;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
  border: 1px solid var(--bc, var(--border));
  background: var(--b, var(--background));
  transition: background .3s, border-color .3s, box-shadow .2s;
}

.custom-checkbox:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
}

.custom-checkbox:checked {
  --b: var(--active);
  --bc: var(--active);
  --d-o: .3s;
  --d-t: .6s;
  --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
}

.custom-checkbox:disabled {
  --b: var(--disabled);
  cursor: not-allowed;
  opacity: .9;
}

.custom-checkbox:disabled:checked {
  --b: var(--disabled-inner);
  --bc: var(--border);
}

.custom-checkbox:hover:not(:checked):not(:disabled) {
  --bc: var(--border-hover);
}

.custom-checkbox:focus {
  box-shadow: 0 0 0 var(--focus);
}

.custom-checkbox:not(.switch) {
  width: 21px;
}

.custom-checkbox:after {
  opacity: var(--o, 0);
}

.custom-checkbox:checked {
  --o: 1;
}

.checkbox-label {
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin-left: 3px;
}

.custom-checkbox:not(.switch) {
  border-radius: 7px;
}

.custom-checkbox:not(.switch):after {
  width: 5px;
  height: 9px;
  border: 2px solid var(--active-inner);
  border-top: 0;
  border-left: 0;
  left: 7px;
  top: 4px;
  transform: rotate(var(--r, 20deg));
}

.custom-checkbox:checked:not(.switch) {
  --r: 43deg;
}

.custom-checkbox.switch {
  width: 38px;
  border-radius: 11px;
}

.custom-checkbox.switch:after {
  left: 2px;
  top: 2px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: var(--ab, var(--border));
  transform: translateX(var(--x, 0));
}

.custom-checkbox.switch:checked {
  --ab: var(--active-inner);
  --x: 17px;
}

.custom-checkbox.switch:disabled:not(:checked):after {
  opacity: .6;
}

/*mapa*/
.map-container {
	width: 100%;
	height: 400px;
	border: 2px solid green;
	margin-top: 24px;
	margin-bottom: 24px;
}

/*Korpa*/
.cart-button {
      position: fixed;
      top: 60px;
      right: 20px;
      padding: 15px 30px;
      background-color: #42b883;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
}

.cart-button .icon {
  height: 16px; /* Set the height to match the font size */
  display: inline-block;
  vertical-align: middle;
}

.cart-button .icon img {
  height: 100%;
  width: auto;
}

.cart-button:hover {
      background-color: #34a272;
}

.cart-container {
	  /*display: flex;
  	  flex-direction: column;*/
      position: fixed;
      top: 110px;
      right: 20px;
      width: 310px;
      padding: 10px;
      background-color: #f2f2f2;
      border: 1px solid #ccc;
      border-radius: 4px;
}

.cart-poruci {
	float: right;
	background-color: #42b883;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.cart-poruci:hover {
      background-color: #34a272;
}

.cart-controls {
	margin-top: 5px;
  display: flex;
  align-items: center;
}

.cart-items {
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  /*display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; */
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  /*flex-direction: row; 
  width: 100%;
  margin-bottom: 20px; /* Add margin to separate cart items */
}

.image-box {
  width: 30%;
  margin-right: 10px;
  /*text-align: center;*/
}

.image-box img {
	height: auto;
	width: 100%;
	object-fit: cover;
}

.about {
	flex: 1;
   /*margin-top: auto; */
}


.title {
	font-size: 18px;
	margin-bottom: 5px;
  /*line-height: 25px;
  font-size: 22px;
  font-family: 'Open Sans';
  font-weight: 800;
  color: #202020;
  padding: 5px;
  overflow-wrap: break-word;*/
}

.subtitle {
	font-size: 14px;
  	margin-bottom: 5px;
  /*line-height: 10px;
  font-size: 15px;
  font-family: 'Open Sans';
  font-weight: 600;
  color: #909090;
  padding: 5px;*/
}

.about button {
	margin-left: auto;
	background-color: #ff5555; /* Set background color */
  	color: #fff; /* Set text color */
 	border: none; /* Remove border */
 	border-radius: 5px;
  	padding: 6px 10px; /* Adjust padding as needed */
  	font-size: 14px;
  	cursor: pointer
}

.about button:hover {
  background-color: #cc0000; /* Change background color on hover */
}


/*---------------------------*/

.form-input-material option {
	background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

/*table*/
 table {
  border-spacing: 1;
  border-collapse: separate;
  background: white;
  border-radius: 6px;
  max-width: 800px;
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

table td,
table th {
  padding: 2px;
  border-left: 1px solid #E3F1D5;
  border-bottom: 1px solid #E3F1D5;
  white-space: nowrap; 
  vertical-align: middle;
}

table thead tr:first-child {
  height: 50px;
  background-color: #f1d847; 
  font-size: 16px;
}


table tbody tr {
  height: 60px;
}

table td,
table th {
  text-align: left;
  height: 40px;
}

table td.l,
table th.l {
  text-align: right;
}

table td.c,
table th.c {
  text-align: center;
}

table td.r,
table th.r {
  text-align: center;
}

/*za pretragu*/
 .holder-pretraga{
    width: 50vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    margin: 24px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }

  .holder-pretraga label {
    color: gray;
    font-size: 16px;
  }

  .holder-pretraga input[type="date"] {
    width: 80%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  
  /*button-dodajUkorpu*/

.button-dodajUkorpu {
  width: 180px;
  height: 40px;
  background: #42b883;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
}

.button-dodajUkorpu:hover {
  background: #34a272;
}

.button-dodajUkorpu:focus {
  outline: none;
  border-color: #42b883;
}

.komentar-holder {
	width: 50vw;
	height: 20vh;
  	display: flex;
  	flex-direction: wrap;
  	align-items: center;
  	margin: 24px;
  	margin-left: auto;
  	margin-right: auto;
  	background: rgba(255, 255, 255, 0.9);
  	border-radius: 10px;
  	padding: 40px;
  	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/*Izgled kartice vozila u objektu*/
/*.salon-holder {
    display: flex;
    margin-bottom: 20px;
  }*/

  .salon-image-border-vozilo {
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }

  .salon-image-vozilo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .salon-text-vozilo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .salon-name-vozilo {
    font-weight: bold;
    margin: 0;
  }

  .salon-info-vozilo {
    margin: 0;
  }

  .button-dodajUkorpu-vozilo {
    align-self: flex-end;
    margin-left: auto;
    margin-top: auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #42b883;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-dodajUkorpu-vozilo:hover {
  	background-color: #34a272;
  }
 
/*prikaz porudzbine*/
.sve-porudzbine {
    width: 50vw;
}
.porudzbina-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .porudzbina-salon-name {
    font-weight: bold;
    margin: 0;
  }

  .porudzbina-salon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .porudzbina-salon-info {
    margin: 0;
  }

.porudzbina-lista-vozila {
    margin-left: 20px;
    margin-right: 20px;
    overflow-y: auto;
    max-height: 100%;
}

.porudzbina-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.porudzbina-button:hover {
	background-color: #cc0000;
}

.oceni-button {
    background-color: #42b883;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.oceni-button:hover {
	background-color: #34a272;
}

.hidden-layer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.hidden-layer-container {
  position: relative;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  	max-width: 400px;
  	width: 90%;
}

.hidden-layer-container h2 {
	margin-bottom: 10px;
}

.hide-form-button {
  position: absolute;
  top: 10px;
  right: 10px;
  	background-color: transparent;
  	border: none;
  	font-size: 16px;
  	cursor: pointer;
  	transition: color 0.3s;
}

.hide-form-button:hover {
	color: red;
}

.star {
  cursor: pointer;
  font-size: 24px;
  	color: #ddd;
  	transition: color 0.3s;
}

.star:hover,
.star.hovered {
  color: #fdd835;
}

.filled {
  color: gold;
}

.form-input-material-porudz {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ddd;
  background-color: transparent;
  transition: border-bottom-color 0.3s;
}

.form-input-material-porudz:focus {
  outline: none;
  border-bottom-color: #fdd835;
}

.btn-porudz {
	margin-top: 12px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #fdd835;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-porudz:hover {
  background-color: #fbc02d;
}

.form-wrapper {
  background-color: white;
  padding: 20px;
}

.show {
  display: block;
}

/*poruzbina pretraga*/
 .holder-pretraga-poruzbina {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 12px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 27px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.holder-pretraga-poruzbina div {
  display: flex;
  align-items: left;
  margin-bottom: 10px;
}

.holder-pretraga-poruzbina label {
  margin-top: 10px;
  margin-right: 20px;
}

.holder-pretraga-poruzbina input[type="date"],
.holder-pretraga-poruzbina select {
  width: 50%;
  padding: 6px;
  border-radius: 4px;
  margin-right: 20px;
  border: 1px solid #ccc;
  font-family: 'Montserrat', sans-serif;
}

input[type="number"] {
  width: 50%;
  height: 15px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  margin-right: 5px;
}

input[type="number"]:focus {
  border-color: #42b883;
}

.holder-pretraga-poruzbina input[type="text"] {
  width: 50%;
  height: 15px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
}

.holder-pretraga-poruzbina input[type="text"]:focus {
  border-color: #42b883;
}

.hidden-layer-container input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.hidden-layer-container button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.hidden-layer-container button[type="submit"]:hover {
  background-color: #45a049;
}

/*porudzbina za menadzera*/
.order-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.order-name {
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.status-info{
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 15px;
}

.order-status-div {
  display: flex;
}

.order-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  margin-bottom: 10px;
}

.order-vehicle-list {
  overflow-y: auto;
  max-height: 100%;
  align-items: left;
  justify-content: left;
  margin-bottom: 10px;
}

.order-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  margin: 10px;
}

.order-actions button {
  margin-right: 15px;
}

.komentar-dugmad {
	margin-top: 12px;
	margin-left: auto;
	margin-right: auto;
}

/*Validacija kreiranje objekta*/
.is-invalid {
    border-color: red;
    background-color: #ffeeee;
}

/*Porukica*/
.message {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffdddd;
    color: #cc0000;
    padding: 10px;
    border: 1px solid #cc0000;
    border-radius: 4px;
    z-index: 9999;
    display: none;
}